@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --offwhite: #F8F9FA;
    --blue-light: #E6F0FA;
    --blue-medium: #4A90E2;
    --blue-dark: #003366;
    --blue-cyan: #00BFFF;
  }


.musicOrNot{
    position: fixed;
    width: 100vw;
    min-height: 100vh;

    top: 0;
    left: 0;

    background-color: var(--blue-dark) ;
}

body {
    min-height: 200vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(./asset/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue-dark);
    color: var(--offwhite);
}

.audio {
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.audio div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner {
    position: relative;
    width: 100%;
    height: 360px;
    
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;

    background-image: url(./asset/nicolly.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    background-attachment: fixed;

    box-shadow: 2px -15px 38px -18px rgba(0,0,0,0.63) inset;
    -webkit-box-shadow: 2px -15px 38px -18px rgba(0,0,0,0.63) inset;
    -moz-box-shadow: 2px -15px 38px -18px rgba(0,0,0,0.63) inset;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.playfair-h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5rem;

    margin-top: -1rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 75vw;
}

.container-intro {
    max-width: 280px;
}

h2 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.TextoIntro {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
}

.TextoConvite {
    padding: 3rem 0 1.5rem 0;
    width: 60vw;
    max-width: 380px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
    text-align: center;
}

.losango {
    padding: 3rem 0 0 0;
    width: 1rem;
}

.line {
    width: 100%;
    max-width: 350px;
    border-bottom: 1px solid var(--offwhite);
    border-radius: 255px;
    margin: 5px 0;
}

.arco{
    max-width: 150px;
    width: 30vw;
    position: absolute;
}

.arco-container {
    position: relative;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.arco-direita {
    right: 0;
}

.arco-esquerda {
    left: 0;
    transform: scaleX(-1)
}

.arco-direita-baixo {
    right: 0;
    bottom: 0;
    transform: scaleY(-1)
}

.arco-esquerda-baixo {
    left: 0;
    bottom: 0;
    transform: scaleX(-1) scaleY(-1)
}

.musicOrNot .container-frame{
    width: 100%;;
}


.musicOrNot .losango {
    padding: 1rem 0 0 0;
    width: 1rem;
}

.musicOrNot .TextoConvite {
    padding: 1rem 0 1.5rem 0;
}

.musicOrNot .container-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.musicOrNot .arco-container{
    padding-bottom: 2rem;
}
/* countdown */

.countdown {
    width: 100vw;
    height: 100vh;
    padding: 2.5rem 0;
    margin: 2rem 0;
    gap: 2rem;
    background-color: #003366;

    box-shadow: 0px 0px 25px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,1);
}

.countdown .line-top{
    width: 100vw;
    max-width: 100vw;
    margin-bottom: 25%;
}

.countdown .line-bottom{
    width: 100vw;
    max-width: 100vw;
    margin-top: 25%;
}

.countdown-number{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.bar {
    padding-right: 1rem;
    border-right: 2px solid white;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    font-size: 1rem;
}

.value {
    font-weight: 600;
    font-size: 2rem;
    font-style: italic; 
}




/* Informações */

.container-info {
    margin: 5rem 0;
    width: 100vw;
}

.container-info > p{
    text-shadow: 0px 0px 15px var(--blue-light);
    color: var(--blue-medium);
}

.info-box {
    width: 90vw;
    max-width: 450px;
    border: 3px solid var(--blue-light);
    border-radius: 20px;
    background-color: var(--blue-medium);

    gap: 4rem;

    padding: 3rem 1rem;
    margin-top: 2rem;

    box-shadow: 2px -1px 39px -12px rgba(0,0,0,1);
-webkit-box-shadow: 2px -1px 39px -12px rgba(0,0,0,1);
-moz-box-shadow: 2px -1px 39px -12px rgba(0,0,0,1);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.card h2{ 
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

.card p{ 
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}

button{ 
    border-radius: 15px;
    padding: 15px;
    min-width: 10rem;
    background-color: #E6F0FA;
}

button:hover{ 
    background-color: #adb5bd;
}

button:active {
    background-color: #003366;
    color: #4A90E2;
}


.music-toggle-button{
    position: fixed;
    right: 5px;
    bottom: 5px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    min-width: 0px;
    padding: 15px;
    
    background-color: #E6F0FA;
}

.music-toggle-button img{
    width: 30px;
}

.music-toggle-button:hover{ 
    background-color: #adb5bd;
}

.music-toggle-button:active {
    background-color: #003366;
    color: #4A90E2;
}


a {
    color: #003366;

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;

    outline: none;
    text-decoration: none;
}

a:active {
    color: #4A90E2;
}

main {
   height: max-content;
}

@media screen AND ( min-width: 425px ){
    
.banner {
    height: 560px; 
}

.banner::before {
    background-size: cover;
}

header {
    align-items: center;
}

.container-frame {
    width: 425px;
}

.arco-container {
    min-width: 100%;
}

.container-info {
    align-items: center;
}

.info-box {
    width: 90%;
    min-width: 300px;
}

.countdown .line-top{
    margin-bottom: 4rem;
}


.countdown .line-bottom{
    margin-top: 4rem;
}


}


@media screen AND ( min-width: 768px ) {

.banner {
    width: 50%;
    height: 600px; 
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;

    background-image: url(asset/nicolly.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    background-attachment: fixed;

    box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
    -webkit-box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
    -moz-box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
}

header {
    flex-direction: row;
    align-items: center;
}

.container-frame {
    min-width: 50%;
}

.container-intro {
    width: 50%;
    min-width: 200px
}

.countdown {
    margin: 0;
}

}


@media screen AND ( min-width: 950px ) {

.banner::before {

    background-size: 50vw;
    box-sizing: border-box;
    background-attachment: fixed;

    box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
    -webkit-box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
    -moz-box-shadow: -9px -8px 38px -18px rgba(0,0,0,0.63) inset;
}


}
